*{
    box-sizing: border-box;
    font-family: poppins, Arial, Helvetica, sans-serif;
}

body {
        background-color: palevioletred;
        background: rgb(238,174,202);
        background: radial-gradient(circle, rgba(238,174,202,0.6587009803921569) 0%, rgba(148,187,233,0.5522584033613445) 100%);

}

h1 {
    color: #828282 ;
}

.container {
    height: 600px;
    width: 500px;
    padding: 80px;
    border: 5px solid transparent;
    border-radius: 30px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}

.content {
    height: 500px;
    width: 400px;
    /* padding: 10px, 20px, 10px, 20px; */
    text-align: center;
    justify-content: center;
    
}

input {
    width: 100%;
    height: 50px;
    padding: 12px, 20px;
    background: transparent;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.2);
}

input::placeholder{
    padding-left: 10px;
}

.entrar {
    width: 70%;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    background-color: pink;
    color: white;
    border-radius: 8px;
    border-color: transparent;
}

.olvidar {
    font-weight: 500;
    color: #828282;
    background-color: transparent;
    border: none;
}

img {
    border-radius: 50%;
}